
<body class="bg-image" 
     style="background-image: url('https://img.freepik.com/free-photo/empty-sea-beach-background_74190-4002.jpg?w=1800&t=st=1680659395~exp=1680659995~hmac=75bd83aaf0a51148bcd8a8cc372229e978969507857fe366108292701859bb57');
           height: 100vh ">



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Second Beach 5 Day Forecast</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Current Boards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Observed Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Board and Wetsuit Suggestion</a>
        </li>
        
        
        
      </ul>
    </div>
  </div>
</nav>





<table class="table table-light table-striped table-bordered table-responsive">
  <thead>
    <tr class="table-primary" >
      <th scope="col">Date</th>
      <th scope="col">Wave Height 7AM</th>
      <th scope="col">Wind Direction 7AM</th>
      <th scope="col">Wind Speed 7AM</th>      
      <th scope="col">Wave Height 12PM</th>
      <th scope="col">Wind Direction 12PM</th>
      <th scope="col">Wind Speed 12PM</th>     
      <th scope="col">Wave Height 5PM</th>
      <th scope="col">Wind Direction 5PM</th>
      <th scope="col">Wind Speed 5PM</th>
    </tr>
  </thead>
  <tbody>
   
     <% @conditions.each do |condition| %>
      <tr>
      <% # # <th scope="row">1</th> %> 
      
      <td style="width:1px; white-space:nowrap;"><%= condition.date %>               </td>
      <td><%= condition.wave_height_7AM %> ft.</td>
      <td><%= condition.wind_direction_7AM %> </td>
      <td><%= condition.wind_speed_7AM %> mph</td>
      <td><%= condition.wave_height_12PM %> ft.</td>
      <td><%= condition.wind_direction_12PM %> </td>
      <td><%= condition.wind_speed_12PM %> mph</td>
      <td><%= condition.wave_height_5PM %> ft.</td>
      <td><%= condition.wind_direction_5PM %> </td>
      <td><%= condition.wind_speed_5PM %> mph</td>
     
    </tr>
     <% end %>
   
  </tbody>
  <!--
  <tbody>
   
     <% @conditions.each do |condition| %>
      <tr>
      <% # # <th scope="row">1</th> %> 
      <td>01/01/2001</td>
      <td><%= condition.wave_height_7AM %> ft.</td>
      <td><%= condition.wind_direction_7AM %> </td>
      <td><%= condition.wind_speed_7AM %> mph</td>
      <td><%= condition.wave_height_12PM %> ft.</td>
      <td><%= condition.wind_direction_12PM %> </td>
      <td><%= condition.wind_speed_12PM %> mph</td>
      <td><%= condition.wave_height_5PM %> ft.</td>
      <td><%= condition.wind_direction_5PM %> </td>
      <td><%= condition.wind_speed_5PM %> mph</td>
     
    </tr>
     <% end %>
   
  </tbody>
  -->
</table>


</body>
